body {
    background: url(../images/fastfoodbackground.jpg);
}

header {
    font-size: 100px;
    font-family: 'Bungee Inline', cursive;
    border: solid;
    margin: auto;
    width: 900px;
    padding: 45px;
    background-color: wheat;
    text-align: center;
}

#score {
    border: solid;
    width: 600px;
    background: rgb(245, 222, 179, 0.6);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 300px 0px 0px 655px;
}